basePath: /
host: localhost:8080
info:
  contact: {}
  title: Backend API Kepolisian
  version: "2.0"
paths:
  /admin/wilayah:
    get:
      description: Mengambil list semua wilayah yang terdaftar
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Lihat Semua Wilayah
      tags:
      - Master Data (Wilayah)
    post:
      consumes:
      - application/json
      description: Membuat data master wilayah (Kecamatan/Kabupaten)
      parameters:
      - description: Data Wilayah
        in: body
        name: body
        required: true
        schema:
          properties:
            kabupaten:
              type: string
            kecamatan:
              type: string
            latitude:
              type: number
            longitude:
              type: number
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Tambah Wilayah Baru
      tags:
      - Master Data (Wilayah)
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
